In [1]:
import tensorflow as tf
from tensorflow import keras
import sklearn
import numpy as np
import pandas as pd
import os
%matplotlib inline
import matplotlib as mpl
import matplotlib.pyplot as plt

In [2]:
benign = pd.read_csv("./datasets/benign.txt", sep="\t", header = None)
dos_synflooding_1 = pd.read_csv("./datasets/dos-synflooding-1-dec.txt", sep="\t", header = None)
dos_synflooding_2 = pd.read_csv("./datasets/dos-synflooding-2-dec.txt", sep="\t", header = None)

In [3]:
split=[]
for i in range(len(benign)):
    split.append(benign[0][i].split("  "))

In [4]:
preprocess = pd.DataFrame(split)

In [5]:
str_df = preprocess[[0,1]].to_string(header=None, index=False)

In [6]:
sep_str_df = str_df.split("\f")

In [1]:
benign = pd.DataFrame(sep_str_df)

NameError: name 'pd' is not defined

In [8]:
benign[0].str.split(" ").head()

0    [, , , , , , , , , , , , , , , , , , , , , , ,...
1    [0000, , 48, 4b, aa, 2c, d8, f9, bc, 1c, 81, 4...
2    [0000, , 48, 4b, aa, 2c, d8, f9, bc, 1c, 81, 4...
3    [0000, , 48, 4b, aa, 2c, d8, f9, bc, 1c, 81, 4...
4    [0000, , 48, 4b, aa, 2c, d8, f9, bc, 1c, 81, 4...
Name: 0, dtype: object

In [9]:
benign[0] = benign[0].str.strip()
benign[0] = benign[0].str.replace("\n                         ", "")
benign[0] = benign[0].str[:222][0]
benign = benign[0].str.split(" ", expand=True)
benign = benign.drop(columns=[0, 17, 34, 51, 68])

In [12]:
benign

,1,2,3,4,5,6,7,8,9,10,...,73,74,75,76,77,78,79,80,81,82
0,,48,4b,aa,2c,d8,f9,bc,1c,81,...,00,01,01,08,0a,00,07,20,ee,
1,,48,4b,aa,2c,d8,f9,bc,1c,81,...,00,01,01,08,0a,00,07,20,ee,
2,,48,4b,aa,2c,d8,f9,bc,1c,81,...,00,01,01,08,0a,00,07,20,ee,
3,,48,4b,aa,2c,d8,f9,bc,1c,81,...,00,01,01,08,0a,00,07,20,ee,
4,,48,4b,aa,2c,d8,f9,bc,1c,81,...,00,01,01,08,0a,00,07,20,ee,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
137391,,48,4b,aa,2c,d8,f9,bc,1c,81,...,00,01,01,08,0a,00,07,20,ee,
137392,,48,4b,aa,2c,d8,f9,bc,1c,81,...,00,01,01,08,0a,00,07,20,ee,
137393,,48,4b,aa,2c,d8,f9,bc,1c,81,...,00,01,01,08,0a,00,07,20,ee,
137394,,48,4b,aa,2c,d8,f9,bc,1c,81,...,00,01,01,08,0a,00,07,20,ee,
137395,,48,4b,aa,2c,d8,f9,bc,1c,81,...,00,01,01,08,0a,00,07,20,ee,