In [90]:
import tensorflow as tf
from tensorflow import keras
import sklearn
import numpy as np
import pandas as pd
import os
%matplotlib inline
import matplotlib as mpl
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report

In [91]:
packet = pd.read_csv("./datasets/iot-network-intrusion-dataset_190919/Packets_integrated/scan-portos.txt", sep="\n", header = None)

In [92]:
packet

                                                         0
0        0000  a8 66 7f 0e 3f 54 6c 40 08 bf fe 46 08 0...
1        0010  01 82 3f 69 00 00 ff 11 d9 3c c0 a8 00 2...
2        0020  00 fb 14 e9 14 e9 01 6e 7e a8 00 00 00 0...
3        0030  00 01 00 00 00 01 0b 5f 67 6f 6f 67 6c 6...
4        0040  73 74 04 5f 74 63 70 05 6c 6f 63 61 6c 0...
...                                                    ...
8626066
0000  88 36 6c d7 1c 56 04 32 f4 45 17 b3 08 ...
8626067  0010  00 34 02 f2 40 00 40 06 f0 dd c0 a8 00 1...
8626068  0020  4b 53 a1 fb 01 bb 13 c3 8b dd 18 ab 59 1...
8626069  0030  19 a5 a5 6e 00 00 01 01 08 0a 00 03 86 b...
8626070  0040  3e fa                                   ...

[8626071 rows x 1 columns]

In [93]:
packet[packet[0].str.contains("Frame \(")] = "\f"

In [94]:
packet

                                                         0
0        0000  a8 66 7f 0e 3f 54 6c 40 08 bf fe 46 08 0...
1        0010  01 82 3f 69 00 00 ff 11 d9 3c c0 a8 00 2...
2        0020  00 fb 14 e9 14 e9 01 6e 7e a8 00 00 00 0...
3        0030  00 01 00 00 00 01 0b 5f 67 6f 6f 67 6c 6...
4        0040  73 74 04 5f 74 63 70 05 6c 6f 63 61 6c 0...
...                                                    ...
8626066
0000  88 36 6c d7 1c 56 04 32 f4 45 17 b3 08 ...
8626067  0010  00 34 02 f2 40 00 40 06 f0 dd c0 a8 00 1...
8626068  0020  4b 53 a1 fb 01 bb 13 c3 8b dd 18 ab 59 1...
8626069  0030  19 a5 a5 6e 00 00 01 01 08 0a 00 03 86 b...
8626070  0040  3e fa                                   ...

[8626071 rows x 1 columns]

In [95]:
packet[0] = packet[0].str[:53]

In [96]:
packet

                                                         0
0        0000  a8 66 7f 0e 3f 54 6c 40 08 bf fe 46 08 0...
1        0010  01 82 3f 69 00 00 ff 11 d9 3c c0 a8 00 2...
2        0020  00 fb 14 e9 14 e9 01 6e 7e a8 00 00 00 0...
3        0030  00 01 00 00 00 01 0b 5f 67 6f 6f 67 6c 6...
4        0040  73 74 04 5f 74 63 70 05 6c 6f 63 61 6c 0...
...                                                    ...
8626066
0000  88 36 6c d7 1c 56 04 32 f4 45 17 b3 08 ...
8626067  0010  00 34 02 f2 40 00 40 06 f0 dd c0 a8 00 1...
8626068  0020  4b 53 a1 fb 01 bb 13 c3 8b dd 18 ab 59 1...
8626069  0030  19 a5 a5 6e 00 00 01 01 08 0a 00 03 86 b...
8626070  0040  3e fa                                   ...

[8626071 rows x 1 columns]

In [99]:
packet = packet.str.split("\f", expand=True)

AttributeError: 'DataFrame' object has no attribute 'str'

In [102]:
type(packet.stack())

pandas.core.series.Series

In [81]:
packet = packet[0].str.split("  ",1, expand=True)

In [82]:
packet

             0                                                1
0         0000  a8 66 7f 0e 3f 54 6c 40 08 bf fe 46 08 00 45 00
1         0010  01 82 3f 69 00 00 ff 11 d9 3c c0 a8 00 21 e0 00
2         0020  00 fb 14 e9 14 e9 01 6e 7e a8 00 00 00 00 00 11
3         0030  00 01 00 00 00 01 0b 5f 67 6f 6f 67 6c 65 63 61
4         0040  73 74 04 5f 74 63 70 05 6c 6f 63 61 6c 00 00 0c
...        ...                                              ...
8626066
0000   88 36 6c d7 1c 56 04 32 f4 45 17 b3 08 00 45 0
8626067   0010  00 34 02 f2 40 00 40 06 f0 dd c0 a8 00 18 3a e1
8626068   0020  4b 53 a1 fb 01 bb 13 c3 8b dd 18 ab 59 18 80 10
8626069   0030  19 a5 a5 6e 00 00 01 01 08 0a 00 03 86 b1 f5 eb
8626070   0040  3e fa

[8626071 rows x 2 columns]

In [87]:
temp2 = np.array(packet).reshape(-1,1)

In [89]:
temp2.str.split

(17252142, 1)

In [54]:
packet

'0000'

In [51]:
pd.DataFrame(packet)

                                                         0
0        [0000, a8 66 7f 0e 3f 54 6c 40 08 bf fe 46 08 ...
1        [0010, 01 82 3f 69 00 00 ff 11 d9 3c c0 a8 00 ...
2        [0020, 00 fb 14 e9 14 e9 01 6e 7e a8 00 00 00 ...
3        [0030, 00 01 00 00 00 01 0b 5f 67 6f 6f 67 6c ...
4        [0040, 73 74 04 5f 74 63 70 05 6c 6f 63 61 6c ...
...                                                    ...
8626066  [
0000, 88 36 6c d7 1c 56 04 32 f4 45 17 b3 08...
8626067  [0010, 00 34 02 f2 40 00 40 06 f0 dd c0 a8 00 ...
8626068  [0020, 4b 53 a1 fb 01 bb 13 c3 8b dd 18 ab 59 ...
8626069  [0030, 19 a5 a5 6e 00 00 01 01 08 0a 00 03 86 ...
8626070  [0040, 3e fa,                                 ...

[8626071 rows x 1 columns]

In [37]:
packet = pd.DataFrame(packet.to_string(header=None, index=False).split("\f"))

In [39]:
temp = packet